body{
  text-align: center;
}
  #mid{
    width:98%;
    height:300px;
    margin-top:8%;
    background-color: #606264;
    margin-left:13px;
    border-radius:10px;
    padding:10px;
  }
 #mid>div{
   margin-top:40px ;
   margin-left: 50px;
 }
 #mid>div>h1{
 font-size: 48px;
  font-weight:bold;
 }
 #mid>div>p{
   margin-top: 20px;
   font-size:22px;
   font-weight: bold;
   color: #4d4d4e;
 }
 #mid2{
    padding:30px;
    display:flex;
    margin-top:80px;
    align-items: center;
    justify-content:space-between;
 }
 #mid3{
    display: flex;
    width:100%;
    padding:8px;
    justify-content:space-evenly;
 }
 #mid3>div:nth-child(1){
   width:65%;
 }
 #mid3>div:nth-child(2){
   width:50%;
  background-color: #f2f5f7;
  padding:30px;
  width:400px;
 }
 form>p{
    margin-top:20px;
    font-size: 20px;
 }
 form>input{
    width:98%;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    line-height:3.5em;
    margin-top: 5px;
    padding-left: 15px;
 }
 form>input::placeholder{
    font-size:17px;
 }
 #home-navbar ul >.power:hover{
    color: orangered;
    cursor: pointer;
    border-bottom: 5px solid orangered;
  }
  #bmid1{
    display:flex;
    justify-content:space-around;
    width:100%;
    margin-top: 70px;
    /* margin-left: 32px; */
  }
  #bmid1>p{
    color:#8b8d8e;
    font-size: 20px;
  }
  #bmid2{
    background-color: #eff2f4;;
    width: 100%;
    height:500px;
    margin-top: 100px;
    padding-top: 150px;
  }
  @media only screen and (max-width:480px) {


    
  }
