
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Mulish:wght@300&family=Questrial&family=Rubik:wght@500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Didact Gothic', sans-serif; */
  font-family: 'Mulish', sans-serif;
  /* font-family: 'Questrial', sans-serif;
  font-family: 'Rubik', sans-serif;  */
}


/* navbar design */
body{
  overflow-x:hidden;
}
#home-navbar {
  display: flex;
  flex-direction:inherit;
  padding: 27px 30px 5px 60px;
  margin-bottom: -50px;
  background-color:white;
  /* border:1px solid red; */
  position: sticky;
  top: 0px;
  z-index: 1;
}
#home-navbar ul {
  display: flex;
  /* position: relative; */
  /* top: 35px; */
}
#home-navbar ul > li {
  list-style-type: none;
  margin-right: 52px;
  font-size: 16px;
  font-weight: bold;
}
#home-navbar ul > li:hover{
  color: rgb(49, 78, 182);
  cursor: pointer;
  /* border-bottom: 2px solid red; */
}
#home-navbar img {
  width: 150px;
  height: 50px;
  margin-right: 50px;
  position: relative;
  bottom:7px;
  /* border: 1px solid black; */
}
#home-navbar-buttons > button:nth-child(1) {
  margin-right: 20px;
}
#home-navbar-buttons> button{
  background-color: #6639b3;
  color: white;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  font-weight: bold;
}
#home-navbar-buttons > button:nth-child(2) {
 background-color: #ff7342 ;
}
#home-navbar-buttons>button>a{
  text-decoration: none;
  color:white;
}
.fa-sharp{
  margin-left: 5px;
  position: relative;
  top: 1px;
}
.fa-sharp:hover{
  color: rgb(49, 78, 182);
}

/* submenu design */
.main-sub{
  display: grid;
  grid-template-columns: 70% 1fr;
  padding: 40px 10px 0 10px;
  /* border: 10px solid red; */
}
.product-submenu{
  border: none;
  display: grid; 
  grid-template-columns: 40% 1fr;
  /* padding: 40px 50px 0 50px; */
  box-shadow: rgba(164, 157, 157, 0.9) 0px 0px 6px 0;
  padding-top: 50px;
}
.product-submenu-1{
  box-shadow: rgba(190, 185, 185, 0.15) 2px 0px 0px;
}
.product-submenu-1>div{
  font-size: 18px;
  display:grid;
  padding:20px;
  cursor: pointer;
  margin-bottom: 5px;
}

.product-submenu-1>div>p{
  position: relative;
  left:15px;
  bottom:17px;
  margin-left: 20px;
  padding-right: 70px;
  font-weight: bold;
}
.product-submenu-1>div:nth-child(1){
  background-color:rgb(189, 241, 189);
  color:green
}
.product-submenu-1>div:nth-child(2):hover{
  background-color: #170598;
  background-color: #fbd5cb;
}
.product-submenu-1>div:nth-child(3):hover{
  background-color: #f2e8c6;
}
.product-submenu-1>div:nth-child(4):hover{
  background-color: #dee6ec;
}

.main{
  display:flex;
  font-size: 17px;
}
.main>div:nth-child(1){
  padding:30px;
  padding-top: 10px;
}
.main>div:nth-child(2){
  padding:30px;
  padding-top: 10px;
}
.main>div>p>a{
  text-decoration: none;
  color: #606264;
  font-size: 15.5px;
}
.main>div>p{
  margin-bottom: 25px;
}
.main>div>p>a:hover{
  color:rgb(30, 164, 236)
}

/* plans design */

.sub-plan>div{
  display:grid;
  grid-template-columns: 10% 1fr;
  padding: 10px;
  width: 350px;
}
.sub-plan>div>div>p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:13px
}
.plans>hr{
  margin-top: 20px;
  margin-bottom: 30px;
}
strong{
  position: relative;
  bottom:4px;
  color: #39393a;
}
.plans{
  background-color: #e8eae8;
  padding-left:20px;
  padding-top:20px;
  padding-bottom:20px;
}
.fa-gear{
  /* margin-left: 10px; */
  margin-right: 17px;
}
.fa-arrow-right{
  margin-left: 10px;
  position: relative;
  top:2px;
}
.sub-plan>div:hover{
  background-color: white;
  cursor: pointer;
}
.sub-plan>p:hover{
  background-color:white;
  cursor: pointer;
  width: 300px;
  padding:10px
}
.more{
  margin-top: 6px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.more>p{
  position: relative;
  bottom:2px;
}

/* free tools design */
.tools-submenu{
  display: none;
}
#home-navbar ul > li:hover .tools-submenu{
  display: block;
  position: absolute;
  background-color:white;
  padding:20px;
  padding-right:100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 15px;
}
.tools-submenu>p>a{
  text-decoration: none;
  color: rgb(39, 37, 37);
}
.tools-submenu>p{
  margin-bottom: 15px;
}
.tools-submenu>p>a:hover{
  color: #135ece;
}
.tools-submenu>p>a{
  font-weight: 500;
}
.blog-btn>a{
  text-decoration: none;
  color: black;
}

/* resor design */
.resSubMenu{
  display:grid;
  grid-template-columns: 40% 1fr;
}
.resSubMenu-1>p{
  /* margin-bottom: 10px; */
  padding: 11px 0px 11px 20px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
  font-weight: bold;
}
.resSubMenu-1>p:first-child{
  background-color:#c8d3e3;
  color: #135ece;
}
.resSubMenu-1>p:hover{
  background-color:#c8d3e3;
  color: #135ece;
  cursor: pointer;
  /* padding:15px; */
}
.resSubMenu-1{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.resSubMenu-2>p{
  margin-bottom: 30px;
  font-size: 18px;
}
.resSubMenu-2{
  padding:20px;
  padding-left:60px
}
.resSubMenu-2>p:hover{
  color: #135ece;
  cursor: pointer;
}

/* first-middle part design */
.first-middle{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns:55% 45%;
  margin-top: 50px;
  background-color: #fafafe;
  padding: 60px;
  padding-top: 30px;
}
.first-middle>div:nth-child(1){
  padding-top: 30px;
  /* border: 1px solid black; */
}
.first-middle>div:nth-child(1)>h1{
  font-size: 64px;
  margin-bottom: 20px;
  font-family: 'Questrial', sans-serif;
  line-height: 70px;
}
.first-middle>div:nth-child(1)>p{
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 40px;
}
.first-middle>div:nth-child(1)>input{
  border: 2px solid orangered;
  padding: 20px;
  font-size: 20px;
  width:80%;
  border-radius: 50px;
  margin-top:30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline: none;
}
.options{
  /* border:1px solid red; */
  display: grid;
  grid-template-columns: 30% 35%;
  margin-top: 50px;
}
.options>div{
  display: grid;
  grid-template-columns: 10% 1fr;
  /* border: 1px solid yellow; */
  width: 100%;
}
.first-middle-left>span{
  /* border: 1px solid red; */
  background-color:#ff7342;
  color: white;
  padding:15px;
  font-size: 18px;
  border-radius:50px;
  position: relative;
  right:135px;
  bottom:1px;
  cursor: pointer;
}
.first-middle-left>span>a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}
.options>div>p{
  font-size: 18px;
}
.fa-circle-check{
 position: relative;
 top:3px;
}

/* first-middlel right design */

.first-middle>div:nth-child(2)>img{
  width: 100%;
  padding-left: 40px;
}

/* second middle design */
.second-middle-first{
  text-align: center;
  margin-top: 60px;
}
.second-middle-second{
  /* border: 2px solid black; */
  text-align: center;
}
.second-middle-second>div>h1{
  font-family: 'Questrial', sans-serif;
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.second-middle-second>div>p{
  color:#135ece;
  font-size: 22px;
}


/* second middle thired design  */

.second-middle-thired-up-left-up,.second-middle-thired-up-right-up{
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: 55% 25%;
}
.second-middle-thired-up-left-up>div>img,.second-middle-thired-up-right-up>div>img{
  width:100%;
  position: relative;
  left:70px
}
.features{
  margin-top: 20px;
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.features-1-1,.features-1-2{
  display:grid;
  grid-template-columns: 12% 1fr;
}
.features-1-1{
  margin-bottom: 20px;
}
.second-middle-thired{
  cursor: pointer;
}
.second-middle-thired p{
  font-size:18px;
  line-height:25px;
  color: #606264;
}
.second-middle-thired hr{
  margin: 0 30px;
  border: 1px solid #f0eded;
}
.second-middle-thired-up{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
}
.second-middle-thired-up>div>div{
  padding:50px;
}
.second-middle-thired-up>div{
  /* padding:30px; */
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: auto;
}
.second-middle-thired{
  margin-top: 70px;
}
/* .container{
  padding: 0 45px;
} */
.second-middle-thired-up-left-up-left>h2,.second-middle-thired-up-right-up-left>h2{
  margin-bottom: 20px;
  font-size: 25px;
}
.learn-more-button{
  /* border:2px solid red; */
  background-color:#6639b3;
  padding:15px 45px;
  margin-top: 40px;
  border: none;
}
.learn-more-button>a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight:bold;
}
.second-middle-thired-down{
  margin-top: 40px;
}

/* fourth-middle design */

.fourth-middle{
  /* border:2px solid red; */
  text-align: center;
  background-color: #2c4fbf;
  padding:130px 50px 80px 50px;
  margin-top: 100px;
}
.imges{
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(10,1fr);
}
.imges>img{
  width:100px;
}
.fourth-middle>h1{
  color:white;
  margin-bottom: 50px;
  font-size: 27px;
}

/* five-middle-scroll design */
.five-middle{
  background-color: #f5f7ff;
  text-align: center;
  padding-top: 80px;
}
.main-slide-div{
  display: flex;
}
.main-slider{
  width: 60%;
  height:500px;
  margin: auto;
  margin-top: 100px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.slide{
  width:100%;
  height:100%;
  position: absolute;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.slide>img{
  width: 200px;
  height:200px;
  margin-bottom:40px;
  border-radius: 50%;
}
.slide>h2{
  margin-top: 20px;
  margin-bottom: 10px;
}
.slide>p{
  font-size:18px;
}
.fa-angle-left{
  position: relative;
  left:140px;
  top:320px;
  cursor: pointer;
}
.fa-angle-right{
  position: relative;
  right:140px;
  top:320px;
  cursor: pointer;
}

/* middle-six design */
.middle-six-up{
  text-align: center;
  margin-top: 80px;
  padding: 0 200px 100px 200px;
}
.middle-six-up>h1{
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 42px;
  color:#2d2d2f;
}
.middle-six-up>p{
  font-size:22px;
  color:#2e3d71;
}
.middle-six-one{
  display:flex;
  justify-content:space-evenly;
  margin-bottom: 35px;
}
.middle-six-one>div>img{
  width: 70px;
  margin-bottom: 15px;
}
.middle-six-one>div{
  width: 180px;
  text-align: center;
  background-color:#f5f7fb;
  padding: 35px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.middle-six-one>div>p{
  font-size:18px;
  font-weight:bold;
  color: #1c2133;
  font-weight: 800;
}
.middle-six-one>div:hover{
  border: 2px solid #234ad5;
  transform: scale(1.1)
}
/* support design */

.icon{
  display: grid;
  grid-template-columns:50% 50%;
  width:400px;
  text-align: center;
  margin: auto;
}
.icon-1,.icon-2{
  display: flex;
}
.icon-1>p,.icon-2>p{
  margin-left: 10px;
}
.support{
  padding: 130px 0;
  background-color:#f5f7fb;
  margin-top: 80px;
  text-align: center;
}
.support>input{
  border: 2px solid orangered;
  padding: 25px;
  font-size: 20px;
  width: 650px;
  outline:none;
  border-radius: 50px;
  margin-left: 120px;
  margin-bottom: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.support>span{
  padding: 20px;
  font-size: 20px;
  outline:none;
  border-radius: 50px;
  background-color:orangered;
  position: relative;
  right: 156px;
}
.support>span>a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.support>h1~h1{
  color:#9449fb;
  margin-top: 20px;
  margin-bottom: 40px;
}
.support>h1{
  font-family: 'Questrial', sans-serif;
}

/* footer design */
.footer{
  background-image: url("https://cdn5.engagebay.com/new/assets/img/footer_bg.jpeg");
  width: 100%;
  color: white;
  /* z-index: 0; */
  padding: 50px;
}
.footer-1-left>img{
  width: 400px;
}
.footer-1{
  display: grid;
  grid-template-columns: 40% 1fr;
}
.footer-1-right>div>div>input{
  width:50%;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 18px;
  outline: none;
  background-color: #333f9b;
  border: none;
  background-color: rgba(0,0,0,.2);
  color: #fff;
}
.footer-1-right{
  padding-top: 30px;
}
.footer-1-right>div>div{
  display: flex;
  gap:20px
}
/* .footer::placeholder { 
  color: white;
  opacity: 1;
} */
.input-div{
  margin-top: 30px;
}
.buttons{
  margin-top: 20px;
}
.buttons>button{
  padding:10px 15px;
  font-size: 17px;
  font-weight:bold;
  cursor: pointer;
  border-radius: 5px;
}
.buttons>button:nth-child(1){
  background-color:#ff7342;
  border: none;
  color:white;
  margin-right: 20px;
}
.buttons>button:nth-child(1)>a{
  color:white;
}
.buttons>button:nth-child(2){
  border: none;
}
.buttons>button:nth-child(2)>a{
  color:black;
}
.buttons>button>a{
 text-decoration: none;
}

/* footer-2 design */
.footer-2{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-top: 70px;
}
.footer-2>div>p{
  margin-bottom: 25px;
  cursor: pointer;
}
.footer-2>div>h3{
  margin-bottom: 25px;
}

/* footer-3 design */

.i>p>a{
  text-decoration: none;
  color: white;
}
.i>p>a:hover{
  color: rgb(200, 60, 60);
}
.i{
  display: flex;
}
.i>i{
  margin-right: 20px;
  cursor: pointer;
}
.i>i{
  position: relative;
  bottom:5px
}
.footer-3-left>img{
  width:110px;
  /* height:100px */
  cursor: pointer;
}
.footer-3-left>h3{
  margin-top: -20px;
  margin-bottom: 33px;
}

table{
  margin-top: 15px
}
td{
  text-align: right;
  background-color:white;
  color: black;
  padding: 5px;
}
th{
  background-color: #006097;
  padding: 5px;
  padding-bottom: 10px;
}
.footer-3{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.footer-3>div:nth-child(2){
  margin-top: 30px;
}
.footer-3>div:nth-child(2)>p{
  margin-bottom: 10px;
}
.footer-3>div:nth-child(2)>p>span:hover{
 cursor: pointer;
 color: #dfc1b0;
}
.footer hr{
  border: 1px solid rgb(170, 166, 166);
  margin: 10px 0;
}

/* chatBot design */
.chatbot{
  position: absolute;
  padding:20px;
  background-color: rgb(102,57,179,0.9);
  border-radius: 50%;
  color: white;
  position: fixed;
  top: 540px;
  left: 10px;
  z-index: 10;
}
.chatbot:hover{
  padding:20px;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1.1)
}
.chatBotData{
  display: none;
}
.chatBotData {
  --light-color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 400px;
  background-color: white;
  position: fixed;
  top:100px;
  left: 50px;
  z-index: 1;
  /* border:1px solid red */
}
.chat-header {
  height: 60px;
  text-align: center;
  padding: 15px 30px;
  background-color: #6639b3;
  color: white;
  font-size: 1.5rem;
  display: flex;
}
.chat-header>img{
  margin-right: 10px;
}
.chat-header>p{
 position: relative;
 bottom:1px
}


.chat-body {
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: flex-end;
  margin-top: 10px;
  /* overflow-y:scroll; */
}
.chat-input {
  border:2px solid orangered;
  padding: 10px 10px;
  padding-left:5px;
  outline: none;
  font-size: 16px;
  width: 72%;
}
.chatbot-message,
.user-message {
  padding: 8px;
  background: #ff4500;
  margin: 5px;
  width: 200px;
  font-size: 16px;
  border-radius: 10px 2px 10px 10px;
  color: white;
}
.chatbot-message {
  background: #6639b3;
  align-self: flex-start;
  border-radius: 2px 10px 10px 10px;
  /* color: white; */
}
.sendButton{
  background-color: orangered;
  border: none;
  font-size: 19px;
  padding: 10px 26px;
  color: white;
  cursor: pointer;
  position: relative;
  left: 5px;
  top:1px;
}


/* regarding scrollbar */
.chat-body{
  height: 300px;
  overflow: scroll;
}
.chat-body::-webkit-scrollbar{
  display: none;
}
/* body::-webkit-scrollbar{
  display: none;
} */

/* cross design */

.cross{
  color:rgb(215, 9, 9);
  /* border: 1px solid red; */
  position: absolute;
  right:-1px;
  top: -5px;
}
.cross:hover{
  cursor: pointer;
  color:#6639b3;
}
.blogs>a{
  text-decoration: none;
  color:black;
}