*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
#dashboard-hr{
    margin:5px 0;
    color: grey;
    opacity: 0.7;
}
hr{
    margin:0px 8px;
    color: grey;
}
.navbar-hr{
    margin:8px;
}
a{
    text-decoration: none;
}
/* <-----------symbols-----------> */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


/* <--------------------NAVBAR------------------> */

#navbar{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: fixed;
    width:100%;
    height:60px;
    margin-top: -60px;
    z-index: 100;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

#navbar #exploration {
    display: flex;
    /* border: 1px solid black; */
    width:20%;
}

#exploration #logo-section  {
    width:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: 1px solid black; */
}
/* <--------Dropdown Marketing---------> */

#exploration #marketing-section{
    width:70%;
    /* border: 1px solid black; */
    display: flex;
    background-color: #F0F1F9;
    border-radius: 13px;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 600;
    margin:6px auto;
    color: #E34D2A;
}

.dropdown-marketing{
    margin-left:10px;
    padding: 10px 0px;
    display: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    z-index:12;
    background-color: white;
}
.dropdown-marketing a {
    display: flex;
    /* border:1px solid yellow; */
    /* text-align:center; */
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.7px;
    padding:8px 12px;
    margin:auto;
    justify-content: start;
    align-items: center;
}
.dropdown-marketing a > span{
    margin-right: 6px;
}
.dropdown-marketing a:hover{
    background-color: #EDEEF7;
}
.show{
    display: block;
}
#marketing-section .marketing{
    display: flex;
    /* border: 1px solid black; */
    width:75%;
    height: 100%;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    margin:4px auto;
}
/* <-------------------------> */

#exploration #logo-section img{
    width:75%;
}

/* <---------option btns --------------> */
#navbar #option-btns{
    width:50%;
    display: flex;
    user-select: none;
    /* padding:5px; */
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid black; */
    margin-top: 15px;
    justify-content: space-evenly;
}

.options{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 12px;
    text-align: center;
    /* color:yellow; */
    
}
.options:hover{
    background-color: #EDEEF7;
  
}
.options>div:hover{
    color:rgb(34, 34, 248);
}
.options > div{
    display: flex;
    cursor: pointer;
    text-align: center;
    color:black;
    padding: 5px 12px;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    
}

.dropdown-option{
  display: flex;
  display: none;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index:15;
  background-color: white;
  padding:8px 0px;
  width:180px;
  border-radius: 8px;
}

.dropdown-option a{
    display: flex;
    /* border: 1px solid black; */
    justify-content: start;
    align-items: center;
    padding:8px 0px;
    font-size: 12px;
    letter-spacing: 1px;
    z-index: 5;
}
.dropdown-option a > span{
    margin-right: 6px;
    margin-left: 8px;
}
.dropdown-option a:hover{
    background-color: #EDEEF7;
    
}

#option-btns .options-hover:nth-child(1),#option-btns .options-hover:nth-child(2) {
    max-width:85px;
}
.options-hover:not(.options-hover:last-child){
    max-width:120px;
}
#option-btns .landing-page{
    padding:7px 12px;
}
#option-btns .options-hover:last-child{
    max-width: 40px;
    padding: 2px 5px;
    font-size: 18px;
    /* padding: 5px 5px; */
}


.options-hover:last-child {

}

.options-hover{
    z-index: 15;
}
.options-hover:hover .dropdown-option{
    display: block;
}

/* <-------------------------> */

#navbar #profile-icons{
    width:30%;
    display: flex;
    /* border: 1px solid green; */
}


#profile-icons #search-product{
    display: flex;
    flex-direction: column;
    align-items: end;
    /* justify-content: center; */
    /* border:1px solid black; */
    width:70%;
}

#search-product >div:first-child{
   margin-top:17px;
   padding:4px 6px;
   border-radius: 7px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#search-product >div:first-child:hover{
    color:rgb(34, 34, 248);
    background-color: #EDEEF7;
    cursor: pointer;
    user-select: none;
}
.dropdown-search{
    display: none;
}
.show-btn{
    display: block;
    z-index:15;
}

#search-product >div:last-child >div{
    display: flex;
    margin-top:15px;
    height: 40px;
    align-items: center;
   
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    width:320px;
    /* display: none; */
}
#search-product >div:last-child >div>span{
    width:8%;
    padding-left: 2px;
}
#search-product >div:last-child >div>input{
    height: 100%;
    width:75%;
    border: none;
    padding:2px 5px;
    font-size: 16px;
}

#search-product >div:last-child >div>div{
    display: flex;
    background-color: #E1F0FE;
    color:blue;
    border-radius: 0 8px 8px 0;
    user-select: none;
    cursor: pointer;
    width:25%;
    align-items: center;
    justify-content: center;
    height:100%
}
#search-product >div:last-child >div>div:hover{
    background-color:#377DFF;
    color:white;
}
/* #search-product >div:last-child >div>div>select{
    width: 100%;
    height: 100%;
    border-radius: 0 8px 8px 0;
    background-color: #E1F0FE;
    color:blue;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}
#search-product >div:last-child >div>div>select>option{
   padding:10px;
   font-size:14px;
} */
#profile-icons #add-content , #call-btn {
    /* border:1px solid black; */
    width:10%;
    display: flex;
    margin:14px 0;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
#add-content:hover , #call-btn:hover{
    color:rgb(34, 34, 248);
    background-color: #EDEEF7;
    cursor: pointer;
    user-select: none;
}


#profile-icons #user-img{
    width:15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin:5px 2px; */
    /* border-radius: 5px; */
    /* border:1px solid black; */
}
#user-img > div{
    /* margin:2px 2px; */
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}
#user-img > div:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#user-img > div > img{
    width:100%;
    cursor: pointer;
    user-select: none;
}

.profile-popup{
    display: none;
}

.show-profile{
    display: block;
}

#dropdown-profile{
    position: absolute;
    margin-left:80%;
    margin-top:0px;
    display: flex;
    z-index:20;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width:19%;
    float: left;
    padding:10px 5px;
}

 #dropdown-profile>a{
    /* border:1px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding:4px 12px;
    font-size: 12px;
    letter-spacing: 0.7px;
}
#dropdown-profile>a>span{
    margin:2px 5px;
}
#dropdown-profile>div:first-child{
    display: flex;
    /* border:1px solid black; */
}
#dropdown-profile>div:first-child>div:first-child{
    width:20%;
    /* border: 1px solid blue; */
}
#dropdown-profile>div:first-child>div:first-child>img{
    width:100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
}

#dropdown-profile>div:first-child>div:last-child{
    /* border:1px solid blue; */
    width:80%;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: -4px;
    margin-left: 6px;
}


/* <----------------lower navbar-----------------------> */

#lower-navbar{
    height:70px;
    margin-top: 60px;
    border: 1px solid rgb(230, 230, 230);
}

.dashboard-setting{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border:1px solid black; */
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

.dashboard-setting > div {
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
    z-index: 10;
}

.dashboard-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 12px;
    padding:6px 8px;
    cursor: pointer;
    user-select: none;
    /* border:1px solid black; */
}
.dropdown-setup{
    display: none;
}
.show-dashboard{
    display: block;
}
.dropdown-dashboard{
    /* display: none; */
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 14px;
    padding: 12px 0px;
    border-radius: 8px;
    z-index:5;
    background-color: white;
}

.dropdown-dashboard > a{
    padding:4px;
    color:black;
    font-size: 13px;
    letter-spacing: 0.7px;
    padding: 5px 12px;
}

.dropdown-dashboard > a:hover{
    background-color: #E1F0FE;
}

.add-reports{
    /* margin-right: 30px; */
    display: flex;
    align-items: center;
    background-color: #377DFF;
    padding:8px 16px;
    font-size: 14px;
    color:white;
    cursor: pointer;
    user-select: none;
    border-radius: 12px;
    width:34%;
    margin-left: 63%;
}

.add-reports:hover{
    background-color: #1f63e2;
}

.dashboard-setting > div:last-child{
    width:430px;
}
.dashboard-create{
  padding:20px 15px;
  z-index: 5;
  height:450px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.dashboard-create>div{
    display: flex;
    align-items: flex-start;
    /* border: 1px solid black; */
    width: 100%;
    margin:15px 0px;
}

.dashboard-create>div>div:last-child{
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    /* color:red; */
    /* border: 1px solid black; */
}
.dashboard-create>div>div:last-child>p{
    font-size: 11px;
    /* margin-top: px; */
    letter-spacing: 0.4px;
}
.dashboard-create>div>div:last-child>label{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.checkbox{
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin-left: 10px;
    margin-top: 4px;
   
}
 
.dashboard-create>p{
    margin-left: 33px;
}

.dashboard-box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    margin-top: 10px;
    border-radius: 12px;
    display: none;
    z-index:10
}
.show-dashboard-box{
    display: block;
    
}
.dashboard-add-btn{
    width:90%;
    padding: 9px 0;
    background-color: #377DFF;
    color:white;
    border: none;
    border-radius: 6px;
    margin:10px auto;
}

.dashboard-add-btn:hover{
    background-color: #1f63e2;
}
.dashboard-box>div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* <----------------------------------------> */

#main-section{
    width:100%;
    min-height:1200px;
    background-color: #E1F0FE;
    padding-top: 20px;
}

#main-section> div{
    width:100%;
    /* border:1px solid black; */
    padding-top:10px;
    margin: auto;
 
}



/* <-------------------> */
.dashboard-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:30px;
    padding: 20px;
    overflow: visible;
    margin: auto;
}

.dashboard-section>div{
    max-width:100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    width:48%;
    min-width: 400px;
    min-height:400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    resize: both;
    overflow: hidden;
    z-index: 1;
    border-radius: 12px;
    /* position:relative; */
}

.dashboard-section>div>div:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dashboard-heading{
    margin-left: 8px;
    width:75%;
}
.dashboard-heading>h4{

}
.dashboard-heading>p{
    font-size: 14px;
}

.dashboard-icons{
    width:80px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.dashboard-section>div>div:first-child{
    height:20%;
    border: 1px solid rgb(219, 219, 219);
}
.textarea-box{
    height:80%;
    
}
.textarea-box>textarea{
    width:100%;
    height:100%;
    resize: none;
    font-size: 18px;
    border:none;
    z-index:1;
    font-weight: 400;
    padding:20px;
    line-height: 18px;
}

.subscriber-count{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,100px);
    gap:20px 20px;
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px;
    align-items: center;
}

.subscriber-count>div{
    /* border: 1px solid black; */
    
}
.subscriber-count>div>h3{
    font-size: 18px;
    font-weight: 400;
}
.subscriber-count>div:nth-child(1){
    color:orange;
}

.subscriber-count>div:nth-child(2){
    color:blue;
}

.subscriber-count>div:nth-child(3){
    color: red;
}

.subscriber-count>div:nth-child(4){
    color: green;
}
.subscriber-count>div:nth-child(5){
    color:teal;
}
/* .subscriber-count>div:nth-child(6){
    color:brown
} */


.blank-img{
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank-img>img{
    width:250px;
}